*:hover{
	background-color: yellow;
}

body {
	margin-left: 10%;
	margin-right: 10%;
	background: url(images/background.jpg);
}

.green_container {
	border: 10px solid white;
	background: white;
	display: flex;
	flex-flow: row wrap;
}

.green_container .red_box {
	background: #A8F0F0;
	display: flex;
	flex-flow: column wrap;
	align-items: flex-end;
	flex-grow: 1;
	width: 100%;
}

.green_container .red_box h2 {
	font-size: 14pt;
}

.green_container .blue_box {
	border: 4px solid #C2E9E9;
	background: #E8FBFB;
	padding: 5px;
	margin: 10px 0px 0px 0px;
}

.green_container .blue_box .content_blue{
	justify-content: flex-start;
}

.green_container .blue_box span {
	border-bottom: 2px dashed blue;
}

.green_container .friends_box{
	border: 5px solid lightblue;
	background: pink;
	padding: 5px;
	margin: 10px 10px 0px 0px;
	flex-shrink: 0;
	height: 100px;
}

.row-nowrap{
	display: flex;
	flex-flow: row nowrap;
}

.column-nowrap{
	display: flex;
	flex-flow: column nowrap;
}